@use "index" as *;

.main{
    // @include w-h(100%, 100vh);
    // @include dFlex(center, center, c)
}
.header{
    .logout{
        border: none;
        background: $primary;
        border-radius: 5px;
        padding: 6px 18px;
        color: #fff;
        float: right;
    }
}