* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background: #EFFFFD;
  font-family: Lato;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 3fr;
}
.main .logoAcro {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .logoAcro h1 {
  font-size: 2rem;
  font-family: Pacifico;
  font-weight: bolder;
  color: dodgerblue;
  cursor: pointer;
}
.main .logoAcro p {
  font-size: 1rem;
  font-weight: bold;
}
.main .logReg {
  width: 100%;
  height: 100%;
}
.main .logReg .logRegCont {
  margin: 0 auto;
  background: #fff;
  border: 3px solid #ccc;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.main .logReg .logRegCont .log, .main .logReg .logRegCont .reg {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .logReg .logRegCont .log h2, .main .logReg .logRegCont .reg h2 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.main .logReg .logRegCont .log form, .main .logReg .logRegCont .reg form {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .logReg .logRegCont .log form .form-group, .main .logReg .logRegCont .reg form .form-group {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.main .logReg .logRegCont .log form .form-group div, .main .logReg .logRegCont .reg form .form-group div {
  margin-top: 1.5rem;
  width: 100%;
  height: auto;
}
.main .logReg .logRegCont .log form .form-group div label, .main .logReg .logRegCont .reg form .form-group div label {
  font-size: 0.75rem;
  color: #666;
}
.main .logReg .logRegCont .log form .form-group div input, .main .logReg .logRegCont .reg form .form-group div input {
  width: 100%;
  height: auto;
}
.main .logReg .logRegCont .log form .form-group button, .main .logReg .logRegCont .reg form .form-group button {
  width: 100%;
  height: auto;
  margin: 1.5rem 0 2rem 0;
  padding: 0.3125rem;
  background: dodgerblue;
  border: none;
  border-radius: 0.3125rem;
  color: #fff;
  transition: background 0.3s ease-in-out;
}
.main .logReg .logRegCont .log form .form-group button:hover, .main .logReg .logRegCont .reg form .form-group button:hover {
  background: #42C2FF;
}
.main .logReg .logRegCont .log form .form-group p, .main .logReg .logRegCont .reg form .form-group p {
  font-size: 0.8125rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 2rem;
}
.main .logReg .logRegCont .log form .form-group p #signin, .main .logReg .logRegCont .log form .form-group p #signup, .main .logReg .logRegCont .reg form .form-group p #signin, .main .logReg .logRegCont .reg form .form-group p #signup {
  margin-left: 0.125rem;
  color: dodgerblue;
  cursor: pointer;
}
.main .logReg .logRegCont .log form .form-group p #regLogo, .main .logReg .logRegCont .reg form .form-group p #regLogo {
  margin-right: 0.125rem;
  font-family: Pacifico;
  font-size: 0.6875rem;
}
.main .logReg .logRegCont .reg {
  display: none;
}

/*# sourceMappingURL=friends.css.map */
