@mixin w-h($w, $h){
    width: $w;
    height: $h;
}

@mixin dGrid($dir, $fr){
    display: grid;

    @if($dir == "c"){
        grid-template-columns: $fr;
    }
    @if($dir == "r"){
        grid-template-rows: $fr;
    }
}

@mixin dFlex($h, $v, $dir){
    display: flex;
    justify-content: $h;
    align-items: $v;
    @if($dir == "c"){
        flex-direction: column;
    }
    @else if($dir == "r"){
        flex-direction: row;
    }
    @else{
        flex-direction: initial;
    }

}

$breakpoints: (
    "xs": 0px,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px
);

@mixin xs{
    @media(min-width: map-get($breakpoints, "xs")) and (max-width: calc(map-get($breakpoints, "sm") - 1px)){
        @content;
    }
}

@mixin sm{
    @media(min-width: map-get($breakpoints, "sm")) and (max-width: calc(map-get($breakpoints, "md") - 1)){
        @content;
    }
}

@mixin md{
    @media(min-width: map-get($breakpoints, "md")) and (max-width: calc(map-get($breakpoints, "lg") - 1)){
        @content;
    }
}

@mixin lg{
    @media(min-width: map-get($breakpoints, "lg")) and (max-width: calc(map-get($breakpoints, "xl") - 1)){
        @content;
    }
}

@mixin xl{
    @media(min-width: map-get($breakpoints, "xl")){
        @content;
    }
}